src/jade/base.pug
block head
	- var pageTitle

<!DOCTYPE html>
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		title= pageTitle
		link(rel='stylesheet', href='/static/css/vendors.min.css')
		link(rel='stylesheet', href='/static/css/main.css')

	body
		.base-wrapper
			.base-container
				header.header
					.container
						.row
							.col-12
								// HTML here

				block content

			footer.footer
				.container
					.row
						.col-12
							// HTML here

		
		script(src="/static/js/vendors.bundle.js")
		script(src="/static/js/main.bundle.js")

base.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" href="/static/css/vendors.min.css"/>
		<link rel="stylesheet" href="/static/css/main.css"/>
	</head>
	<body>
		<div class="base-wrapper">
			<div class="base-container">
				<header class="header">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- HTML here-->
							</div>
						</div>
					</div>
				</header>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- HTML here-->
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="/static/js/vendors.bundle.js"></script>
		<script src="/static/js/main.bundle.js"></script>
	</body>
</html>
